<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		.playerSelector {
			font-size: 13;
			font-weight: 1;
		}
	</style>
</head>
<body>
<h1>Choose your player number<h1>
	<form class ="playerSelector">
		<input type="radio" id="p1" value="p1" name="playerSelector">
		<label for="p1">Player 1</label><br>
		<input type="radio" id="p2" value="p2" name="playerSelector">
		<label for="p2">Player 2</label><br>
		<input type="radio" id="p3" value="p3" name="playerSelector">
		<label for="p3">Player 3</label><br>
		<input type="radio" id="p4" value="p4" name="playerSelector">
		<label for="p4">Player 4</label><br>
		<input type="submit">
		</form>
</body>
</html>
